
.add-item-box {
    background: #fbc1bb;
    color: #ec645b;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
  }
  
  .add-item-box svg {
    margin: 5px;
  }
  
  .add-item-input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: #ec645b;
    width: 100%;
    height: 30px;
  }
  
  input::placeholder {
    color: #ec645b;
  }
  input:focus {
    outline: 0;
  }